
:root {
    --white: white;
    --main: rgb(30, 48, 42);
    --accent: rgb(239, 189, 39);
}

body {
    background-image: url(./images/landscapeimage.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: left bottom;
    margin: 0;
}

#landingPage {
    height: 100vh;
}

header {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
    color: var(--accent);
    font-size: 30px;
    width: 30%;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header a:hover {
    text-shadow: 1px 1px 8px white;
}

.contactBtn {
    border: 1px solid white;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px black;
    background-color: rgb(255, 255, 255, .2);
}

.contactBtn:hover {
    background-color: rgb(255, 255, 255, .6);
}

.contactBtn:active {
    box-shadow: inset 2px 2px 4px black;
}

article {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 9% 0 0 41%;
}

article h2, article h3, article p {
    text-align: center;
    color: white;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 8px black;
}

article h2 {
    font-size: 50px;
}

article h3 {
    font-size: 40px;
}

article p {
    margin: 4%;
    text-shadow: 1px 1px 6px black;
    font-size: 16px;
}

article button {
    margin: auto;
    padding: 15px 30px;
    background-color: rgb(255, 255, 255, .5);
    border: 2px solid green;
    border-radius: 8px;
    color: green;
    font-size: 20px;
    text-shadow: 1px 1px 4px white;
    box-shadow: 1px 1px 2px black;
}

article button:hover {
    background-color: rgb(255, 255, 255, .8);
}

article button:active {
    box-shadow: inset 1px 1px 2px black;
}

#bioPage {
    height: 100vh;
    background-color: var(--main);
}